
<div class="bjui-pageHeader" style="background:#FFF;">
   <!--  <div style="padding: 0 15px;">
        <h4>
            B-JUI 前端框架　
            <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=0047455f3845597286edd381d54076b1e10a45c0c735115f0ee74961f70880af"><img border="0" src="images/group.png" alt="B-JUI前端框架-群1" title="B-JUI前端框架-群1" style="vertical-align:top;"></a>
            <span class="label label-default" style="vertical-align:middle;">(1群已满)</span>　
            <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=96974f9b311cb8566e371703e2e4c2abb23c4835f4ec6c2893652f7a3b920c32"><img border="0" src="images/group.png" alt="B-JUI前端框架-群2" title="B-JUI前端框架-群2" style="vertical-align:top;"></a>
        </h4>
        <div class="alert alert-success" role="alert" style="margin:0 0 5px; padding:5px 15px 0;">
            <strong>B-JUI开发团队欢迎你!</strong> <a href="http://weibo.com/xknaan" target="_blank">@萧克南</a>　<a href="http://www.topstack.cn" target="_blank">@小策一喋</a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>官方论坛：<a href="http://www.b-jui.com/" target="_blank">http://www.b-jui.com/</a></h5>
                <h5>项目地址：<a href="http://git.oschina.net/xknaan/B-JUI" target="_blank">GIT</a>　<a href="http://www.oschina.net/p/bootstrap-for-DWZ" target="_blank">OSCHINA</a></h5>
                <h5>微博地址：<a href="http://weibo.com/xknaan" target="_blank">http://weibo.com/xknaan</a></h5>                                  
            </div>
            <div class="col-md-6">
                <h5>框架演示：<a href="http://b-jui.com/" target="_blank">http://b-jui.com/</a></h5>
                <h5>DWZ(J-UI)官网：<a href="http://www.j-ui.com/" target="_blank">http://www.j-ui.com/</a></h5>
                <h5>Bootstrap中文网：<a href="http://www.bootcss.com/" target="_blank">http://www.bootcss.com/</a></h5>
            </div>
        </div>
    </div> -->

    <div style="height:500px;line-height:500px;text-align:center;font-size:30px;">欢迎使用房地产用户管理系统</div>
</div>
